# Project exclude paths
/.gradle/
/build/
/out/
/out/production/classes/
/bots.properties
/.idea/
/Settings.properties
/gource/
/credentials.json
/tokens.txt
/bot_cache/
/bots/music/
/test/
/jda4/build/
/jda4/out/
/musicBotPrefixes.properties
